*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    margin-bottom: 10px;
     padding: 10px 15px;
    /*estilo*/
    background-color: rgb(34, 34, 46


)
}

#navbar{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

#logonav{
    height: 80px;
    margin-right: 10px;
}

#navbar a{
    /*estilo*/
    color: rgb(204, 204, 252
);
    text-decoration: none;
}

.navlista1{
    display: flex;
    align-items: center;
    /*estilo*/
    font-weight: bold;
}

.navlista1 ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.form_de_contacto{
    background-color: rgb(193, 193, 212
);
max-width: 800px;
border-radius: 20px;
}
